.bor {
    border: 2px solid rgb(246, 20, 20);
}

.border {
    border: 2px solid black;
}

/* ************** Style for Link tag elements******************** */
a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}
/* ************** Style for Link tag elements******************** */


@media print {

   #navbar,#sidebar,#saleView-buttons{
    display: none !important;
   }
}

